:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --light-blue: #34abe0;
  --light-gray: #e5e5e5;
  --red: #df212d;
  --search-input-border: rgba(51, 51, 51, 0.2);
  --search-input-text: rgba(0, 0, 0, 0.45);
  --coupon-shadow: rgba(0, 0, 0, 0.15);
  --sidebar-bg: #f3f4f9;
  --header-bg: var(--basic-white);
  --main-bg: #fafafa;
  --coupon-bg: var(--basic-white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.page,
.page__body {
  margin: 0;
  font-family: Roboto, Oxygen, -apple-system, BlinkMacSystemFont, Segoe UI,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  font-size: 16px;
  background-color: var(--main-bg);
}

.page__wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 100%;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1;
  grid-row: span 7;
  background-color: var(--sidebar-bg);
  height: 100%;
}

.sidebar__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 0;
}

.sidebar__top {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-left: 40px;
  margin-bottom: 20px;
}

.sidebar__main-logo-name {
  font-family: Poppins;
  font-size: 1rem;
  margin-left: 10px;
}

.sidebar__menu {
  display: none;
}

.sidebar__categories {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.sidebar__top,
.sidebar__categories {
  width: 100%;
}

.category {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 21px 0 21px 40px;
  width: 100%;
  cursor: pointer;
  position: relative;
}

.category:before {
  content: "";
  height: 24px;
  width: 1px;
  left: 0;
  border-right: 3px solid transparent;
  position: absolute;
}

.category_active::before {
  border-right-color: var(--light-blue);
}

.category_active > .category__logo {
  filter: invert(74%) sepia(76%) saturate(3232%) hue-rotate(167deg)
    brightness(91%) contrast(93%);
}

.category_active > .category__name {
  color: var(--light-blue);
}

.category__name {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 1rem;
  margin-left: 12px;
}

.header {
  grid-column: 2 / span 5;
  grid-row: 1;
  background-color: var(--header-bg);
  border-bottom: 1px solid var(--light-gray);
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px 60px;
}

.header__name {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 20px;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  border: 1px solid var(--search-input-border);
  border-radius: 50px;
}

.search__input {
  margin-left: 8px;
  width: 100%;
  padding-bottom: 0;
  outline: none;
  border: none;
}

.search__input::placeholder {
  font-family: Open Sans;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--search-input-text);
}

.search__input::-moz-placeholder {
  line-height: 0.7rem;
}

.main {
  grid-column: 2 / span 5;
  grid-row: 2 / span 6;
  background-color: var(--main-bg);
}

.main__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 40px 60px;
  gap: 20px;
}

.main__coupons {
  margin: 0;
}

.coupon {
  display: grid;
  grid-template-columns: 11fr 9fr;
  border-radius: 10px;
  box-shadow: 0 2px 6px var(--coupon-shadow);
  border: 1px solid transparent;
  position: relative;
  z-index: 0;
  background-color: var(--coupon-bg);
}

.coupon:hover {
  border-color: var(--red);
}

.coupon:active {
  border-color: var(--red);
}

.coupon::before,
.coupon::after {
  position: absolute;
  content: "";
  border-top: 1px solid rgba(255, 255, 255, 0);
  border-right: 1px solid rgba(255, 255, 255, 0);
  background-color: rgb(250, 250, 250);
  width: 7px;
  height: 7px;
  border-top-right-radius: 35%;
  top: 50%;
  z-index: 999;
  box-shadow: inset -10px 0 5px -10px var(--coupon-shadow),
    inset 0 6px 5px -5px var(--coupon-shadow);
  -webkit-box-shadow: inset -10px 0 5px -10px var(--coupon-shadow),
    inset 0 6px 5px -5px var(--coupon-shadow);
}

.coupon::before {
  left: -6.5px;
  transform: rotate(30deg) skewX(-26.5deg) scale(1, 0.85) translateY(-50%);
}

.coupon::after {
  top: 47.8%;
  left: 100%;
  transform: rotate(210deg) skewX(-32.5deg) scale(1, 0.85) translateY(-50%);
}

.coupon:hover::before,
.coupon:hover::after {
  border-top-color: var(--red);
  border-right-color: var(--red);
}

.coupon:active::before,
.coupon:active::after {
  border-top-color: var(--red);
  border-right-color: var(--red);
}

.coupon__info {
  grid-column: 1 / span 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 0 16px 20px;
  z-index: 1;
}

.coupon__top-left-info {
  display: flex;
  flex-direction: column;
}

.coupon__title {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.coupon__description {
  font-size: 1rem;
  line-height: 1rem;
  opacity: 0.5;
}

.coupon__bottom-left-info {
  display: flex;
  flex-direction: column;
}

.coupon__num {
  color: var(--red);
  font-size: 2.25rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.coupon__label {
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  opacity: 0.5;
}

.coupon__image {
  grid-column: 2;
  grid-row: 1;
  border-radius: inherit;
  margin-left: auto;
  z-index: 0;
}

@media (max-width: 1024px) {
  .page__wrapper {
    grid-template-columns: repeat(7, 1fr);
  }

  .sidebar {
    grid-column: 1 / 2;
    position: relative;
  }

  .sidebar_opened {
    width: 246px;
  }

  .sidebar_closed {
    width: 100%;
  }

  .sidebar__menu {
    background-image: url("./assets/svg/menu-wrapper.svg");
    display: block;
    position: absolute;
    width: 48px;
    height: 106px;
    top: 0;
    right: calc(-1vw - 38px);
    cursor: pointer;
  }

  .main {
    grid-row: 2;
  }

  .menu__open-icon {
    background-image: url("./assets/svg/open-menu-icon.svg");
  }

  .menu__close-icon {
    background-image: url("./assets/svg/close-menu-icon.svg");
  }

  .menu__open-icon,
  .menu__close-icon {
    width: 26px;
    position: absolute;
    height: 20px;
    top: 40px;
    right: 10px;
  }

  .sidebar__top {
    position: relative;
  }

  .sidebar__main-logo {
    width: 24px;
    height: 24px;
  }

  .sidebar__main-logo-name {
    display: none;
  }

  .sidebar__main-logo-name_ipad-visible,
  .category__name_ipad-visible {
    display: block !important;
  }

  .category__name {
    display: none;
  }

  .header,
  .main {
    grid-column: 2 / span 6;
  }

  .header__wrapper {
    padding: 31px 26px 27px;
  }

  .header__name {
    margin: 0 0 31px auto;
  }

  .header__name_hidden {
    display: none;
  }

  .search_scrolled {
    margin-left: 45px;
  }

  .main__wrapper {
    padding: 26px;
    grid-auto-rows: 144px;
    grid-template-columns: repeat(2, 1fr);
    padding: 27px 26px;
  }

  .coupon {
    grid-template-columns: 2fr 1fr;
  }

  .coupon__info {
    padding: 15px 0 15px 18px;
  }

  .coupon__title,
  .coupon__description {
    font-size: 0.875rem;
  }

  .coupon__num {
    margin-bottom: 3px;
  }

  .coupon__image {
    max-height: 142px;
    width: auto;
  }
}

@media (max-width: 767px) {
  .page__wrapper {
    grid-template-columns: 5px 1fr;
    position: relative;
  }

  .sidebar {
    grid-column: 1;
    grid-row: 1 / span 7;
    z-index: 1;
    position: absolute;
    width: 192px;
    left: -180px;
  }

  .sidebar_opened {
    left: 0;
  }

  .sidebar_closed {
    left: -180px;
  }

  .sidebar__top {
    padding-left: 20px;
  }

  .sidebar__main-logo-name {
    display: block;
    font-size: 0.875rem;
  }

  .header,
  .main {
    grid-column: 2;
    z-index: 0;
  }

  .header__wrapper {
    padding: 31px 20px 27px 32px;
  }

  .header__name {
    font-size: 1.5rem;
  }

  .search__input::placeholder {
    font-size: 0.875rem;
  }

  .category {
    padding: 18px 0 18px 19px;
  }

  .category__logo {
    display: none;
  }

  .category__name {
    display: block;
    margin-left: 0;
  }

  .search__scrolled {
    padding-left: 36px;
  }

  .main__wrapper {
    grid-auto-rows: 130px;
    padding: 27px 20px 27px 32px;
    grid-template-columns: 1fr;
  }

  .coupon__title,
  .coupon__description {
    font-size: 0.75rem;
  }

  .coupon__num {
    font-size: 1.75rem;
  }

  .coupon__label {
    font-size: 0.75rem;
  }

  .coupon__image {
    max-height: 128px;
  }
}
